<link rel="stylesheet" href="/stylesheets/stylePersonagens.css">
<link rel="stylesheet" href="/stylesheets/stylemenu.css">
<link rel="stylesheet" href="/stylesheets/styleFooter.css">
<script src="public/javascripts/script.js"></script>
<%- include('./partials/header.ejs') %>

<section>
    <div class="post-personagem">
      <div class="post">
        <img src="/images/Dobby.png" alt="Dobby">
          <h1>Dobby</h1>
          <div class="marcadores">
              <span class="categoriaFilme">Filme</span>
              <span class="categoriaLivro">Livro</span>
              <span class="origem">Harry Potter</span>
          </div>
                  <h5>Descrição ficcional</h5>
                  <h6>Nome completo: Dobby </h6>
                  <h6>Idade: cerca de 200 anos </h6>
                  <h6>Ocupação: elfo doméstico  </h6>
                  <h6>Residência: Escócia  </h6>
                  <h6>Personalidade: Leal, corajoso e atrapalhado</h6>
                  <h6>Hobbies/interesses: Proteger Harry Potter e se tornar um elfo livre  </h6>
                  <h6>Amigo(s): Harry, Hermione e Rony</h6>
          </div>

          <div class="post" data-post-id="15">
              <div id="formulario-comentario">
                <form>
                  <h3>Avaliar personagem</h3>
                  <% include('./partials/stars.ejs') %>
                  <input type="text" id="nome" class="nome" placeholder="Seu nome" required>
                  <textarea id="comentario" class="comentario" placeholder="Seu comentário" required></textarea>
                  <button type="submit">Enviar</button>
                </form>
              </div>

              <div class="comentarios-title">
                  <h3>Comentários</h3>
                  <div class="lista-comentarios"></div>
              </div>
          </div>
    </div>

    <div class="personagensRelacionados">
          <h4>Personagens Relacionados</h4>
            <div class="relacionados">
                <a href="/personagem/harryPotter" target="_self">
                <img src="/images/HarryP.png" alt="Personagem relacionado">
                <h6>Harry Potter</h6>
                </a>
            </div>

            <div class="relacionados">
                <a href="" target="_self">
                <img src="" alt="Personagem relacionado">
                <h6>-</h6>
                </a>
            </div>

            <div class="relacionados">
                <a href="" target="_self">
                <img src="" alt="Personagem relacionado">
                <h6>-</h6>
                </a>
            </div>
    </div>

</section>

<section>
    <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body>
</html>
