<link rel="stylesheet" href="/stylesheets/stylePersonagens.css">
<link rel="stylesheet" href="/stylesheets/stylemenu.css">
<link rel="stylesheet" href="/stylesheets/styleFooter.css">
<script src="public/javascripts/script.js"></script>
<%- include('./partials/header.ejs') %>

<section>
    <div class="post-personagem">
      <div class="post">
        <img src="/images/doug-funnie.jpg" alt="Doug Funnie">
          <h1>Doug Funnie</h1>
          <div class="marcadores">
              <span class="categoriaSerie">Série</span>
               <span class="origem">Doug</span>
          </div>
                  <h5>Descrição ficcional</h5>
                  <h6>Nome completo: Douglas Yancey Funnie. </h6>
                  <h6>Idade: 11 anos</h6>
                  <h6>Ocupação: Estudante</h6>
                  <h6>Residência:  Rua Jumbo, 21, em Bluffington</h6>
                  <h6>Personalidade: introspectivo, companheiro</h6>
                  <h6>Hobbies/interesses: Leitura, ouvir musica</h6>
                  <h6>Amigo(s):  Skeeter Valentine, costelinha, Paty Maionese e outros</h6>
          </div>

          <div class="post" data-post-id="17">
              <div id="formulario-comentario">
                <form>
                  <h3>Avaliar personagem</h3>
                  <% include('./partials/stars.ejs') %>
                  <input type="text" id="nome" class="nome" placeholder="Seu nome" required>
                  <textarea id="comentario" class="comentario" placeholder="Seu comentário" required></textarea>
                  <button type="submit">Enviar</button>
                </form>
              </div>

              <div class="comentarios-title">
                  <h3>Comentários</h3>
                  <div class="lista-comentarios"></div>
              </div>
          </div>
    </div>

    <div class="personagensRelacionados">
          <h4>Personagens Relacionados</h4>
            <div class="relacionados">
                <a href="" target="_self">
                <img src="" alt="Personagem relacionado">
                <h6>-</h6>
                </a>
            </div>

            <div class="relacionados">
                <a href="" target="_self">
                <img src="" alt="Personagem relacionado">
                <h6>-</h6>
                </a>
            </div>

            <div class="relacionados">
                <a href="" target="_self">
                <img src="" alt="Personagem relacionado">
                <h6>-</h6>
                </a>
            </div>
    </div>

</section>

<section>
    <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body>
</html>
